examples/example.json
[
    {
        "id": "d3e62523051182d9",
        "type": "docxtemplater",
        "z": "5c2c0a4858445b3b",
        "name": "",
        "x": 480,
        "y": 500,
        "wires": [
            [
                "9b2a180f7897e90c"
            ]
        ]
    },
    {
        "id": "90a10276a9879f0b",
        "type": "function",
        "z": "5c2c0a4858445b3b",
        "name": "prepare",
        "func": "msg.templateDocx = \"/Users/omerkaptan/Downloads/example.docx\"\nmsg.payload = {\n    first_name: \"John\",\n    last_name: \"Doe\",\n    phone: \"0652455478\",\n    description: \"New Website\",\n}\nmsg.outFile = \"/Users/omerkaptan/Downloads/convert.docx\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "d3e62523051182d9"
            ]
        ]
    },
    {
        "id": "9b2a180f7897e90c",
        "type": "debug",
        "z": "5c2c0a4858445b3b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "73f0b69b3c9173aa",
        "type": "inject",
        "z": "5c2c0a4858445b3b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "90a10276a9879f0b"
            ]
        ]
    }
]